@tailwind base;
@tailwind components;
@tailwind utilities;


/* TO DO need better way to do this */
svg {
  @apply m-auto;
}

ol li {
  @apply ml-5 mt-3;
}

/* Margin between lists */
ol:first-child {
  @apply mt-0;
}

ol > ol {
    @apply my-0 ml-5;
}

/* nested list format */
ol {
  counter-reset: item;
}
ol > li::before {
  @apply font-bold;
  content: counters(item, ".") ". ";
  counter-increment: item;
}
