.faq_wrapper {
    max-width: 1200px;
    margin: auto;
    line-height: 1.5em;
}
.top {
    text-align: center;
    margin: 5em 0 5em;
}

.top h1 {
    font-size: 3em;
    color: #d9534f;
}
.top h2 {
    font-size: 1.2em;
}
.faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 75%;
    margin: auto;
}