.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  align-items: center;
  padding-top: 3em;
  height: 30em;
}

.header_background {
  background: url("/header.png") top center;
  background-attachment: fixed;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.header h1 {
  color: #d9534f;
  font-size: 5em;
}

.header h2 {
  font-size: 3em;
  color: #f7ce68;
}

.top {
  text-align: center;
  margin: 10em 0 1.5em;
}

.top h3 {
  font-size: 2.2em;
  color: #d9534f;
}

.cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 1em;
  align-items: baseline;
}

.admin_list_cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  align-items: baseline;
}

.cols h3 {
  color: #d9534f;
  font-size: 2em;
  text-align: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23272a;
  border-radius: 20px;
  padding: 1.5rem;
}

.icon {
  margin: 0.3em 0 0;
  font-size: 3em;
}

.list {
  margin: 1em;
  list-style: none;
}

.list_item::before {
  content: "⦿ ";
  color: #d9534f;
}

.list_item {
  font-size: 1em;
}

.discord_box {
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #5865f2;
  width: 100%;
  max-width: 90%;
  margin: 7em auto;
  text-align: center;
}

.discord_text h3 {
  margin: 1em;
  font-size: 2em;
}

.discord_logo {
  width: 128px;
  height: 128px;
  display: block;
  margin: auto;
}

.btn_box {
  text-align: center;
  margin: 2em;
}

.btn {
  margin: 1em auto;
  background-color: transparent;
  border: 2px solid #d9534f;
  padding: 1em;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: background-color 1000ms;
  transition: background-color 1000ms;
}

.btn:hover {
  background-color: #d9534f;
  -webkit-transition: background-color 1000ms;
  transition: background-color 1000ms;
}

.wrapper_1200 {
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;
}

.worlds_background {
  background: url("/map.png") top center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #121212;
  background-blend-mode: soft-light;
}

.servers_background {
  background: url("/servers.jpg") top center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #23272a;
  background-blend-mode: soft-light;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  .discord_text h3 {
    font-size: 1.2rem;
    margin: 1em .3em;
  }

  .discord_box {
    display: flex;
    flex-direction: column;
  
  }

  .discord_logo {
    width: 32px;
    height: 32px;
    margin-bottom: 1rem;
  }

  .btn {
    padding: .5em;
  }

  .cols {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col {
    width: 90%;
    height: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .admin_list_cols {
    grid-template-columns: 1fr 1fr;
  }

  .header {
    display: flex;
    flex-direction: column;
    margin: 0 0 1em 0;
  }

  .header h1 {
    font-size: 3em;
  }

  .header h2 {
    font-size: 2em;
  }

  .top h3 {
    font-size: 1.5em;
  }

  .cols {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col {
    border-radius: 0;
  }

  .list {
    margin: 2em;
  }

  .col h3 {
    font-size: 1.5em;
  }

  .worlds_background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
  }
}
