
.background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}
.content {
    display: grid;
    grid-template-columns: 1fr .1fr;
    background-color: #23272a;
    color: #fff;
    width: 75%;
    padding: 3em;
    border-radius: 20px;
    margin: 10em auto;
}
.close {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    transition: font-size 1000ms;
}
.close:hover {
    font-size: 1.8em;
    transition: font-size 1000ms;
    cursor: pointer;
}
.title {
    margin-bottom: 1em;
}
.text {
    margin: 1em;
}
@media only screen and (max-width: 600px) {
    .content {
        border-radius: 0;
    }
    .close {
        font-size: 1em;
    }
}