.top {
    text-align: center;
    margin: 5em 0 5em;
}

.top h1 {
    font-size: 3em;
    color: #d9534f;
}
.top h2 {
    font-size: 1.2em;
}

.content_wrapper {
    max-width: 1200px;
    margin: 1rem auto;
    line-height: 1.5em;
    padding: 0 1em;
}
.content_wrapper h3 {
    margin: .8em 0 .3em;
    color: #d9534f;
}
/* Crazy List */
li::marker{
    font-size: 1em;
}
ol {
    list-style-position: inside;
    counter-reset: item;
    margin:  0;
}
ol li ol {
    margin: 0;
}
ol li {
    counter-increment: item;
}
ol ol > li {
    display: flex;
    
}

ol ol ol > li {
    margin-left: .3em;
}
ol ol > li::before {
    content: counters(item, ".") " ";
    margin: 0 .5em;
}


.faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 75%;
    margin: auto;
}

.error_page_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    min-height: 50vh;
}

.btn {
    margin: 1em auto;
    background-color: transparent;
    border: 2px solid #d9534f;
    padding: 1em;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: background-color 1000ms;
    transition: background-color 1000ms;
}

.btn:hover {
    background-color: #d9534f;
    -webkit-transition: background-color 1000ms;
    transition: background-color 1000ms;
}



