.majitel,
.spolumajitel {
    background-color: #AA0000;
    color: #fff;
    border-radius: 20px;
    padding: .3em;
}

.vedeni {
    background-color: #FF5555;
    color: #fff;
    border-radius: 20px;
    padding: .3em;
}

.builder,
.hlbuilder {
    background-color: #0000AA;
    color: #fff;
    border-radius: 20px;
    padding: .3em;
}

.hlsupport,
.support,
.zksupport {
    background-color: #00AA00;
    color: #fff;
    border-radius: 20px;
    padding: .3em;
}