.footer {
    margin-top: 2.5em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 100%;
}
.footer p {
    font-size: .8em;
}
.social_links {
    display: flex;
    justify-content: center;
}
.social_links > a {
    margin: 1em;
    font-size: .5em;
    color: #d9534f;
}

.version {
    font-size: .8em;
    font-family: monospace;
}